<section fxLayout="column">
    <button mat-raised-button (click)="redirectToCreateFarm()" color="primary">
        Add New Farm
    </button>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <mat-selection-list [multiple]="false">
            <mat-list-option *ngFor="let farm of farms" (click)="moveToFarm(farm)">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <h2>{{farm.farmName}}</h2>
                    <mat-button (click)="redirectToDetails(farm.farmId)"><mat-icon>launch</mat-icon></mat-button>
                </div>
                <div fxLayout="column wrap">
                    <span>{{farm.address.address1}}</span>
                    <span>{{farm.address.city}}, {{farm.address.state}} {{farm.address.zip}}</span>
                </div>
            </mat-list-option>
        </mat-selection-list>
        <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [(zoom)]="location.zoom">
            <agm-marker *ngFor="let farm of farms" [latitude]="farm.address.latitude"
                [longitude]="farm.address.longitude"></agm-marker>
        </agm-map>
    </div>
</section>