button {
    margin-bottom: 10px;
}

agm-map {
    height: 68em;
    width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0 3px 3px 0;
}

mat-selection-list {
    height: 100%;
    border: 1px solid black;
    width: 20%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

mat-list-option {
    border-bottom: 1px solid black;
    height: 150px !important;
    
}

.mat-list:last-child {
    border-bottom: none !important;
}

#farm-list {
    max-height: 68em;
    overflow: auto;
}

.filter-form-field {
    width: 33%;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.filter-input {
    height: 50px;
}

.mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
    overflow-x: auto;
}

.filter-mat-select {
    height: 50px;
}

.filter-button {
    margin-left: 10px;
}

.btn-grp{
    height: 80%;
}
