<section fxLayout="column">
<button mat-raised-button (click)="redirectToCreateFarm()" color="primary">
    Add New Farm
</button>
<div fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <mat-list>
        <mat-list-item *ngFor="let farm of farms" (click)="redirectToDetails(farm.farmId)">
            <span>{{farm.farmName}}</span>
        </mat-list-item>
    </mat-list>
    <agm-map [latitude]="42.4072" [longitude]="-71.3824" >
        <agm-marker *ngFor="let farm of farms" [latitude]="farm.address.latitude" [longitude]="farm.address.longitude" ></agm-marker>
    </agm-map>
</div>
</section>